<!--

  __  __       _       
 |  \/  |     (_)      
 | \  / | __ _ _ _ __  
 | |\/| |/ _` | | '_ \ 
 | |  | | (_| | | | | |
 |_|  |_|\__,_|_|_| |_|
                       
                       

-->
<div [hidden]="device">
  <div class="navbar">
    <adm></adm>
  </div>
  <div class="content">
    <device-check (onSuccess)="onCheckSuccess($event)" (onFail)="onCheckFail($event)"></device-check>
    <device-list (onSelect)="onSelectedDevice($event)"></device-list>
  </div>
</div>
<!--

  _____             _          
 |  __ \           (_)         
 | |  | | _____   ___  ___ ___ 
 | |  | |/ _ \ \ / / |/ __/ _ \
 | |__| |  __/\ V /| | (_|  __/
 |_____/ \___| \_/ |_|\___\___|
                               
                               

-->

<div *ngIf="device">
  <div class="navbar row">
    <div class="col">
      <span class="icon"><img src="/assets/icons/arrow-left.svg" width="30" height="24" (click)="back()"></span>
      <div class="title">{{this.websocketCtrl.status}} - {{device?.manufacter}} - {{device?.model}} </div>
    </div>
    <div class="right">
      <img src="/assets/icons/rotate.svg" width="30" height="24" (click)="reconnect()">
      <img src="/assets/icons/trash-can.svg" width="30" height="24" (click)="remove()">
    </div>
  </div>
  <div class="content">
    <device-information [device]="device"></device-information>
    <device-os [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-os>
    <device-display [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-display>
    <device-wifi [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-wifi>
    <device-apps [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-apps>
  </div>
 
</div>