/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f5f7fb;
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: #242934;
    padding: 30px 15px 0px 15px;
  }