<adm></adm>
<device-check (onSuccess)="onCheckSuccess($event)" (onFail)="onCheckFail($event)"></device-check>
<device-list (onSelect)="onSelectedDevice($event)"></device-list>
<div *ngIf="device">
    <device-information [device]="device"></device-information>
    <device-os [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-os>
    <device-display [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-display>
    <device-wifi [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-wifi>
    <device-apps [device]="device" (eventSend)="send($event)" [isConnected]="isConnected()"></device-apps>
</div>